<!DOCTYPE html>
<html>
  <head>
    <style>
      #nav-bar ul {
        list-style-type: none;
      }
      #nav-bar {
          display: inline;
        }
      a#nav-bar {
          display: block;
          padding: 8px;
          background-color: #dddddd;
        }

    </style>
  </head>
  <body>
    <!-- <div id="nav-bar"> -->
    <ul id="nav-bar">
      <li><a href="/">./trang</a></li>
      <li><a href="/blog">blog ✍</a></li>
      <li><a href="./assets/cv.pdf">CV 📄</a></li>
    </ul>
    <!-- </div> -->
  </body>
</html>
